/*dissappear the left side if the screen is small - fix the query width when completed.*/
@media only screen and (max-width: 804px) {
    div#leftSide {
      display: none;
    }
  }

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
a {
    text-decoration: none;
}
article {
    margin: 32px auto 0;
    max-width: 935px;
    padding-bottom: 32px;
    width: 100%;
    justify-content: center;
}

/*Create right and left sides to fill in*/
div#leftSide{
    height: 618px;
    background-image: url("../images/Phones.png");
    background-position: 0 0;
    background-size: 454px 618px;
    width: 454px;
    float:left;
}
div#rightSide {
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
    float:left;
    width: 350px;
}

/*Left-side first - inset the image over the blank phone. I did not bother rotating them*/
#insetImage {
    margin: 99px 0 0 151px;
    position: relative;
}

/*Now the right side in sections*/
/*Start with main login form*/
div#loginFormSection {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
div#loginFormSection h1 {
    margin: 22px auto 12px;
    text-align: center;
}
#loginForm input {
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    line-height: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    position: relative;
    width: 100%;
    
}
.inputElement {
    margin: 0 40px 6px;
}

button {
    margin: 8px 40px;
    background-color: rgba(0,149,246,.3);
    border-radius: 4px;
    width: 268px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    border-width: 0px;
}
.orSection {
    margin: 10px 40px 18px;
    width: 270px;
    height:20px;
}
.lineShape {
    background-color: rgba(var(--b38,219,219,219),1);
    height: 1px;
    position: relative;
    top: 0.45em;
    color: #8e8e8e;
    width: 100px;
    float: left;
}
.orText {
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    margin: 0 20px;
    text-transform: uppercase;
    width: 30px;
    float: left;
    text-align: center;
}
#facebookLogin {
    clear: left;
    text-align: center;
    font-weight: 600;
    margin: 18px 0px;

}
.facebookLoginText {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.forgotPassword {
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
    width: 350px;
}
.forgotPassword a {
    color: #00376b;
    text-decoration: none;
}
.fbSignUp {
    color: #0095f6;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

/*Don't have an account block*/
div#signup {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
div#signup-inner {
    display: block;
    text-align: center;
}

/*Get the App block*/
div#getApp {
    text-align: center;
}
div#getApp p {
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

/*Footer section*/
footer {
    padding: 0px 16px 0px 16px;
}
footer a {
    color: #8e8e8e;
    padding: 0px 8px 12px 8px;
    font-size: 12px;
}
div.footer-row {
    width: 100%;
    text-align: center;
    clear: left;
    
}
div#footerText {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #8e8e8e;
    font-size: 12px;
}